<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos2.Properties.Settings.EstudiantesConnectionString"
            connectionString="Data Source=PC;Initial Catalog=Estudiantes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>